PORT=3005
NODE_ENV=development
IS_LOCAL=true
ALLOWED_ORIGINS=https://your-gateway-domain.com,http://your-ec2-domain.com
AWS_REGION=us-east-1
AWS_SECRET_ARN=
AWS_DB_SECRET_ARN=
COGNITO_USER_POOL_ID=us-east-1_XXXXXXXX
COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXX
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
